<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      src="../../../assets/puzzle-icon.png"
      style="border-radius: 0"
    />
    <mat-card-title>Welcome!</mat-card-title>
    <mat-card-subtitle>register here</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <!-- EMAIL INPUT -->
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ex. joe@example.com"
          formControlName="email"
        />
        <mat-error
          *ngIf="
            this.form.get('email')?.touched &&
            this.form.get('email')?.hasError('required')
          "
        >
          Email is required
        </mat-error>
        <mat-error
          *ngIf="
            this.form.get('email')?.touched &&
            this.form.get('email')?.hasError('email')
          "
        >
          Email must be a valid Email
        </mat-error>
      </mat-form-field>
      <!-- PASSWORD INPUT -->
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
        <mat-error
          *ngIf="
            this.form.get('password')?.touched &&
            this.form.get('password')?.hasError('required')
          "
        >
          Password is required.
        </mat-error>
        <mat-error
          *ngIf="
            this.form.get('password')?.touched &&
            !this.form.get('password')?.hasError('required')
          "
        >
          <ng-container
            *ngFor="let error of form.get('password')?.errors | keyvalue"
          >
            {{ error.value }}
          </ng-container>
        </mat-error>
      </mat-form-field>
      <!-- PASSWORD STRENGTH -->
      <app-password-strength [form]="form"></app-password-strength>
      <!-- REGISTER BUTTON -->
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
      >
        Register
      </button>
    </form>
  </mat-card-content>
</mat-card>
