.criteria-container {
  display: flex;
  flex-direction: column;
}

.unit-container {
  display: flex;
  padding: 0;
}

.unit {
  background: #ddd;
  border: 1px;
  border-radius: 4px;
  flex-grow: 1;
  height: 5px;
  list-style: none;
  margin-right: 1px;
  width: 25%;
}
